<div class="mb-3">
  <%= simple_form_for [ @list, @bookmark ] do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.button :submit, "Add movie", class: "btn btn-primary" %>
  <% end %>
</div>

<%= link_to 'Back to list', list_path(@list.id), :class => "btn btn-primary" %>
